@import 'tdesign-react/es/style/index.css';

body {
  padding: 0;
  margin: 0;
}

.title {
  font-size: var(--td-font-size-title-large);
  font-weight: 600;
}

.info {
  font-size: var(--td-font-size-body-medium);
  color: var(--td-gray-color-6);
}

.name {
  font-size: var(--td-font-size-title-medium);
  font-weight: 500;
}

.secondary-info {
  font-size: var(--td-font-size-body-small);
  color: var(--td-gray-color-6);
}

.vertical-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}